.select_evento {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 0 5px;
    width: 355px;
    height: 30px;
    margin-bottom: 60px;
    color: #201849;
    display: flex;
}

.listagem_evento {
    height: 670px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    background-color: white;
    color: black;
}

.listagem_evento h1 {
    text-transform: uppercase;
    color: black;
    font-size: 19px;

}

.listagem_evento hr {
    max-width: 200px;
    width: 100%;
    border-style: solid;
    border-top-width: 1px;
    border-color: #B51D44;
    margin-top: 5px;
    color: white;

}

.tabela_evento {
    width: 100%;
    margin-top: 20px;

}

.tabela_evento table{
    width: 100%;

    border-collapse: collapse;
}


.tabela_evento .table_evento :first-child {
    width: 300px;

}

.tabela_evento .table_evento :nth-child(2) {
    width: 200px;
}

.tabela_evento .table_evento th {
    border-bottom: 2px solid #B51D44;
    width: 200px;

}

.item_evento td {
    padding: 20px 0 5px 0;
    border-bottom: #201849 1px solid;

}

.item_evento{
    text-align: center;
}

.tabela_evento .item_evento :nth-child(2) {
    text-align: start;
}



@media screen and (max-width: 768px) {

.tabela_evento thead{
    display: none;
}

/* um elemento abaixo do outro */
.item_evento td{
    display: grid;
    text-align: left;
    padding: 10px 10px 10px 0;
    grid-template-columns: 10ch auto;
}

.item_evento td::before{
    content: attr(data-cell) ":";
    font-weight: 700;
    width: 80px;
    text-align: left;
}

.item_evento td:last-child{
    margin-bottom: 24px;
}
.item_evento td:first-child{
    margin-top: 24px;
}

}